<h2>New Customer</h2>

<form class="container" [formGroup]="newCustomerForm" (submit)="register()">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Password" formControlName="password">
      </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <button mat-raised-button>Register</button>
  </form>
